.sign-in {
	width: 380px;
	display: flex;
	flex-direction: column;	
	// margin-top: 30px;
	.buttons {
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: bolder;
	}

	&__subheading {
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
		margin-top: 10px;
	}
}
