.sign-up {
    display: flex;
    flex-direction: column;
    width: 400px;

    .title {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
		font-weight: bolder;
    }

    .sub-title {
        font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
		margin-top: 10px;
    }

    .sbtn {
        width: 165px;
    }
}