.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	.options {
		width: 40%;
		height: 90%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			padding: 5px 15px;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-family: 'Open Sans', sans-serif;
			// border: 1px solid black;
			border-radius: 25px;
			transition: all 0.2s ease-in-out;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}

			&:active {
				transform: translateY(2px);
			}

			&:focus {
				outline: none;
			}
		}

		.mr {
			margin-right: 30px;
		}
	}

	.logo {
		height: 90%;
		width: 85%;
		transition: all 0.2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}

		&:active {
			transform: translateY(2px);
		}

		&:focus {
			outline: none;
		}
	}
}
