* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    padding: 20px 70px;
     
}

/* ont-family: 'Josefin Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Nunito', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Roboto Mono', monospace;

font-family: 'Source Code Pro', monospace;

font-family: 'Source Sans Pro', sans-serif; */